---
import Layout from "../layouts/Layout.astro";
import dayjs from "dayjs";
import dayOfYear from "dayjs/plugin/dayOfYear";
import scheduleArray from "../schedule.json";
import Icon from "astro-icon";

dayjs.extend(dayOfYear);

const githubProfileData = await fetch("https://api.github.com/users/cfuendev", {
  headers: { Authorization: `Bearer ${import.meta.env.GH_TOKEN}` },
});
const githubReposData = await fetch(
  "https://api.github.com/users/cfuendev/repos",
  {
    headers: { Authorization: `Bearer ${import.meta.env.GH_TOKEN}` },
  }
);
const githubEventsData = await fetch(
  "https://api.github.com/users/cfuendev/events/public",
  {
    headers: { Authorization: `Bearer ${import.meta.env.GH_TOKEN}` },
  }
);

const githubProfileObject: { avatar_url: string } =
  await githubProfileData.json();
const githubReposArray: { stargazers_count: number }[] =
  await githubReposData.json();
let githubEventsArray: { type: string; created_at: Date }[] =
  await githubEventsData.json();

const githubImageURL: string = githubProfileObject.avatar_url;
const githubStarsCount: number = githubReposArray
  .map((gr) => gr.stargazers_count)
  .reduce((acc, val) => acc + val, 0);
let githubStreakNumber = 0;
githubEventsArray = githubEventsArray.filter(
  (ge) => ge.type === "PushEvent" || ge.type === "CreateEvent"
);
// Only PushEvent and CreateEvent
for (let i = 0; i < githubEventsArray.length; i++) {
  if (githubStreakNumber === 0 && i === 0) {
    githubStreakNumber++;
  }
  if (githubEventsArray[i - 1]) {
    if (
      dayjs(githubEventsArray[i - 1].created_at).dayOfYear() !==
        dayjs(githubEventsArray[i].created_at).dayOfYear() &&
      dayjs(githubEventsArray[i - 1].created_at).diff(
        dayjs(githubEventsArray[i].created_at),
        "day"
      ) < 2
    ) {
      console.log({
        date: githubEventsArray[i].created_at,
        type: githubEventsArray[i].type,
        diff: dayjs(githubEventsArray[i - 1].created_at).diff(
          dayjs(githubEventsArray[i].created_at),
          "day"
        ),
      });
      githubStreakNumber++;
    } else {
      break;
    }
  }
}
---

<Layout title="cfuen.dev">
  <main style="padding: 30px;">
    <div class="nes-container with-title is-centered">
      <p class="title">cfuen.dev</p>
      <div style="display: flex; flex-direction: row;">
        <div
          class="FocalImg"
          style={`height: 150px; background-image:url(${githubImageURL})`}
        >
          <img alt="" />
        </div>
        <div
          class="nes-balloon from-left"
          style="height: 120px; margin-left: 30px;"
        >
          <h2>Hey! I'm a Fullstack dev</h2>
          <h3>I build cool sites like this one</h3>
        </div>
      </div>
      <div id="Stats">
        <div>
          <i class="nes-icon is-medium star"></i><span
            >GitHub Stars: {githubStarsCount}</span
          >
        </div>
        <div>
          <a
            href="https://github.com/cfuendev"
            target="_blank"
            style="text-decoration: none;"
          >
            <i class="nes-icon github is-medium"></i>
          </a>
          <span>Current Streak: {githubStreakNumber}</span>
        </div>
        <div>
          <Icon
            style="transform: translateY(2px);"
            name="pixelarticons:clock"
            width="48px"
          />
          <span
            >{
              scheduleArray.find(
                (c) =>
                  c.hours.find((h) => h === dayjs().format("H")) &&
                  c.day === dayjs().format("d")
              )
                ? "Busy"
                : "Available"
            }</span
          >
        </div>
      </div>
    </div>
    <div style="display: flex; flex-direction: column;"></div>
  </main>
</Layout>

<style>
  main {
    height: 100dvh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nes-container {
    width: 970px;
  }

  .FocalImg {
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
  }

  #Stats {
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  #Stats > div {
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  #Stats > div:not(:nth-child(1)) {
    margin-left: 30px;
  }

  #Stats > div > span {
    margin-left: 10px;
  }
</style>
